.container {
    max-width: 400px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.listItem {
    border: 1px solid gainsboro;
    margin-left: 0px;
    list-style-type: none;
    padding: 12px;
    margin: 0px 2px;
}

#clearButton button {
    display: none;
}

.ulMain {
    max-height: 250px;
    overflow: auto;
    padding-left: 0;
}